NODE_ENV=production
PORT=3008

# Database Configuration
DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASS=
DB_SSL=true

DATABASE_URL=

JWT_SECRET=
JWT_REFRESH_SECRET=

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Email service
MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=465
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=ssl
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME=St. Brain's Model College

FRONTEND_URL=https://st-brain-model-college-fe.vercel.app/
LOGO_URL=
INVITE_EXPIRATION_DAYS=7
SCHOOL_NAME=St. Brian's Model College
SCHOOL_LOGO_URL=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
HASH_SALT=